.GeneralInfoForm {
    margin: 30px;
    width: 100%;
  }



.CarouselForm {
    text-align: center;
  }

  /* App.css */
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Esto asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    text-align: center;
  }
  
  .centered-form {
    width: 800PX; /* Establece el ancho deseado para el formulario */
    padding: 20px; /* Agrega relleno si es necesario */
    border: 0px solid black; /* Agrega un borde si es necesario */
    background-color: #fff; /* Cambia el fondo si es necesario */
    height: auto;
    text-align: center;
    color: black;
  }
