.globalApp{
    background-color: rgba(251, 176, 59, 1);
}
.custom-button {
    margin-top: 30px;
    background: #5c544c ;
    font-size: 15px;
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5px;

}

.custom-button-back {
    margin-top: 0px;
    background: white ;
    font-size: 15px;
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #5c544c ;
    border-color: #5c544c ;
    font-weight: bolder;
    letter-spacing: 0.5px;

}

.radioEmpleo{
    margin-right: 100px;
}

.formradiojob{
    text-align: left;
}

.radioGeneral{
    margin-right: 60px;
}

.justify{
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 20px;
}